
a:link {
    color: black;
    text-decoration: underline;

}

a:hover {
    color: white;
    background-color: greenyellow;

}

a:visited {
    color: purple;
}

a:active {
    color: white;
    background: black;

}

a.cursor {
    cursor: crosshair;
}

a.button:link {
    background: lightblue;
    padding: 15px;
    color: white;
    text-decoration: none;
}

a.button:hover {
    background: darkgray;
    color: white;

}

a.button:visited {
    color: black;

}

a.button:active {
    color: white;
    background: red;
}

.link-image {
    background: url("res/bild-regular.png");
    display: inline-block;
    width: 350px;
    height: 150px;
    border: 3px solid darkgray;

}

.link-image:hover {
    background: url("res/bild-hover.png");

}

.link-image:visited {
    border: 3px solid lightcoral;
    background: url("res/bild-regular.png");

}

.link-image:active {
    background: url("res/bild-active.png");

}





